.NavBar{
    width: 100%;
    background-color: white;
    margin-bottom: 80px;
    text-align: center;
    padding: 10px 10px;
    box-shadow: 5px 5px 10px black;
}
.NavBar a{
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 10px;
}
.NavBar a:hover{
    color: black;
    text-decoration: underline;
}
.NavBar-active{
    color: black !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}